body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: rgb(108, 133, 201);
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(72, 114, 227);
    padding: 30px 0px;
}

.container h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: yellow;
}

p {
    font-size: 30px;
}

.scoreBox {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.userSign, .compSign {
    font-size: 5rem;
    margin: 1rem;
    width: 80px
}

.vs {
    margin: 1rem;
    text-shadow: 0 0 3px #FF0000;
}

.container .btnContainer {
    width: 100%;
    text-align: center;

}

.container .btnContainer button {
    border: .4rem solid rgb(188, 210, 24);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    background: rgba(12, 68, 15, 0.694);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
}

.container button {
    border: .4rem solid rgb(210, 24, 102);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(166, 25, 191, 0.723);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
}

.clicking {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }